{% extends 'myapp/base.html' %}

<div class="container mt-4">
    <h1 class="display-4">{{ recipe.title }}</h1>
    {% if recipe.image %}
    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" style="max-width: 100%;">
    {% endif %}
    <p>{{ recipe.description }}</p>

    <h2>Ингредиенты</h2>
    <ul class="list-unstyled">
        {% for ingredient in ingredients %}
            <li>{{ ingredient.amount }} {{ ingredient.ingredient.unit }} - {{ ingredient.ingredient.name }}</li>
        {% endfor %}
    </ul>

    <h2>Пошаговая инструкция</h2>
    <ol>
        {% for instruction in instructions %}
            <li>{{ instruction.step }}</li>
        {% endfor %}
    </ol>
</div>

