{% extends 'myapp/base.html' %}

{% block title %}
{{ recipe.title }}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="display-4">{{ recipe.title }}</h1>
    <p>{{ recipe.description }}</p>

    <h2>Автор</h2>
    <p>{{ author.username }}</p>

    <h2>Ингредиенты</h2>
    <ul class="list-unstyled">
        {% for ingredient in ingredients %}
        <li class="media my-4">
            {% if ingredient.recipe.image %}
            <img src="{{ ingredient.recipe.image.url }}" class="mr-3" alt="{{ ingredient.recipe.title }}" style="width: 100px; height: auto;">
            {% endif %}
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{ ingredient.ingredient.name }}</h5>
                <p>{{ ingredient.amount }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
    
    <div class="my-4">
        <a href="{% url 'edit_recipe' recipe.id %}" class="btn btn-primary">Редактировать</a>
        <a href="{% url 'delete_recipe' recipe.id %}" class="btn btn-danger">Удалить</a>
    </div>
</div>
{% endblock %}
